<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>Cyco-Menstruation</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Skin (you can set a different color skin here - just change the name of the color)
  ================================================== -->
        <link rel="stylesheet" href="{% static "css/skins/fuchsia.css" %}" />


<!-- CSS
  ================================================== -->
   <link rel="stylesheet" href="{% static "css/style.css" %}" />
   <link rel="stylesheet" href="{% static "css/styleresponsive.css" %}" />

<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
<!-- Navigation
        ================================================== -->
    <div id="wrapnav">
        <div class="container">

            <div class="three columns alpha">
                <div id="top" style="display:inline;">
                    <span class="logo"><a href="index.html">Bienvenue</a></span>
                    <br/><span class="subheader">Sur Cyco-Menstruation</span>
                </div>
            </div>
            <div class="thirteen columns omega">
                <div class="menu">
                    <nav>
                    <ul class="menuitems">
                        <li><a href="#features">Conseils pour les femmes</a></li>
                        <li><a href="#guarantee">PUB</a></li>
                        <li><a href="#download">Menstruation</a></li>
                        <li><a href="#contact">contactez-nous</a></li>
                     </ul>
                    </nav>
                </div>
                <div class="rightnav">
                    <span class="rightnavtext">avez-Vous des questions?</span>
                    <br/>appelez maintenant: (509) 509 38
                </div>
            </div>
        </div>
    </div>
    <!-- Header
        ================================================== -->
    <div class="header">
        <div class="container">
            <div class="nine columns alpha">
                <div class="rslides_container">
                    <ul class="rslides" id="slider2">
                    <li><a href="#"><img src="{% static "images/slide1.jpg" %}" alt="" class="slidepic"></a></li>
                    <li><a href="#"><img src="{% static "images/slide2.jpg" %}" alt="" class="slidepic"></a></li>
                    <li><a href="#"><img src="{% static "images/slide3.jpg" %}" alt="" class="slidepic"></a></li>
                    </ul>
                </div>
            </div>
            <div class="seven columns omega">
                <div class="slidertext">
                    <h1>Cyco-Menstruation</h1>
                    <h2>Cycles menstruels et ovulation</h2>
                    <p><ul>
                         <li><img src="images/star.png" class="middlealign"> create a special landing page outside of your main site</li>
                         <li><img src="images/star.png" class="middlealign"> focus all the important information in one single page</li>
                         <li><img src="images/star.png" class="middlealign"> provide communication via contact form and newsletter</li>
                         <li><img src="images/star.png" class="middlealign"> never dismiss the importance of call to action button</li>

                       </ul>
                    </p>

                    <a href="#download" class="button headerbutton">Connaitre son cycle Menstruel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="afterheader">
    </div>
    <!-- Features Section
    ================================================== -->
    <div class="scrollpause">
    </div>
    <div class="container" id="features">
        <div class="sixteen columns neg">
            <div class="titleborder">
                <span class="title colorme">Truc de fille</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="one-third column">
            <h3><img src="images/icon1.png" alt="" class="middlealign"> Conseil 1</h3>

			<ul>
			{% for word in article_list %}
				<li> <p>{{ word.reporter.headline }}</p></li>
				<li> <p>{{ word.reporter.full_name }}</p></li>
				<li> <p>{{ word.reporter.pub_date|date:"F j, Y"  }}</p></li>
			{% endfor %}
			</ul>


{#            <form method="post" action="/menstruation/">#}
{#                {% csrf_token %}#}
{#                 {{ form_coseil.as_p }}#}
{#                <input type = "submit" name="CalculatorForm" value="Send" class="actionbutton">#}
{#            </form>#}

            <p>

{#                Le cycle menstruel est souvent bien différent d’une femme à l’autre, malgré ce que l’on pense. Bien que la#}
{#                durée moyenne soit de 28 jours, le cycle peut varier entre 21 et 36 jours. Les manifestations ne sont pas#}
{#                non plus les mêmes.#}
            </p>
        </div>
        <div class="one-third column">
            <h3><img src="images/icon2.png" alt="" class="middlealign"> Conseil 2</h3>
            <p>
                Les manifestations ne sont pas
                non plus les mêmes. Certaines femmes en auront à chaque cycle, alors que d’autres n’en vivront que très peu.
                Malgré ces différences, le cycle menstruel est toujours lié aux variations d’hormones telles que l’œstrogène et la progestérone.
            </p>
        </div>
        <div class="one-third column">
            <h3><img src="images/icon3.png" alt="" class="middlealign"> conseil 3</h3>
            <p>
               Les manifestations ne sont pas
                non plus les mêmes. Certaines femmes en auront à chaque cycle, alors que d’autres n’en vivront que très peu.
                Malgré ces différences, le cycle menstruel est toujours lié aux variations d’hormones telles que l’œstrogène et la progestérone.</p>
        </div>
        <div class="one-third column">
            <h3><img src="images/icon4.png" alt="" class="middlealign"> conseil 4</h3>
            <p>
               Les manifestations ne sont pas
                non plus les mêmes. Certaines femmes en auront à chaque cycle, alors que d’autres n’en vivront que très peu.
                Malgré ces différences, le cycle menstruel est toujours lié aux variations d’hormones telles que l’œstrogène et la progestérone.</p>
        </div>
        <div class="one-third column">
            <h3><img src="images/icon5.png" alt="" class="middlealign">  Conseil 5</h3>
            <p>
                Les manifestations ne sont pas
                non plus les mêmes. Certaines femmes en auront à chaque cycle, alors que d’autres n’en vivront que très peu.
                Malgré ces différences, le cycle menstruel est toujours lié aux variations d’hormones telles que l’œstrogène et la progestérone.</p>
        </div>
        <div class="one-third column">
            <h3><img src="images/icon6.png" alt="" class="middlealign">  Conseil 6</h3>
            <p>
                Les manifestations ne sont pas
                non plus les mêmes. Certaines femmes en auront à chaque cycle, alors que d’autres n’en vivront que très peu.
                Malgré ces différences, le cycle menstruel est toujours lié aux variations d’hormones telles que l’œstrogène et la progestérone.</p>
        </div>
    </div>
    <!-- Guarantee Section
    ================================================== -->
    <div class="scrollpause">
    </div>
    <div class="container" id="guarantee">
        <div class="sixteen columns">
            <div class="titleborder">
                <span class="title colorme">PUBLICITE</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="one-third column separatorv">
            <h3><img src="images/iconq.png" alt="" class="middlealign"> Client Support</h3>
            <p class="paddright">
                 Media Mind, Delmas 32, Delmas 60(509) 22 26 03 04 (509) 36 13 23 23mediamind_marketing@yahoo.com<p>
            <p class="paddright">
                Catégorisé: Communications - Télécommunications • Publicité
            </p>
        </div>
        <div class= "two-thirds column omega">
            <h3> Satisfaction </h3>
            <p>
                GaMa, Pétion-Ville514, Autoroute de Delmas, Delmas 66  Catégorisé: Communications - Télécommunications • Informatique et Matériel Informatique • Internet - Fournisseurs Accès Internet • Publicité • Réseautique
            </p>
            <ul class="square">
                <li>Calling  at (509) 29 42 42 62(509) 29 40 42 62</li>
                <li>Emailing gama@gama.ht </li>
            </ul>
            <p>
                Upon receiving your request, our client service team will act promptly to achieve your satisfaction. <p>Your satisfaction is important to Gama>
            </p>
        </div>
    </div>
        <!-- Testimonials
    ================================================== -->
    <div class="container">
        <div class="one-third column">
            <h5>Great product</h5>
            <p class="testimonial">
                <img src="images/usr.jpg" class="leftpic" alt="">Multi-Ad, Delmas2, Rue des Nîmes, Blvd. T. Louverture(509) 29 43 86 86multiad@gmail.comCatégorisé: Publicité
            <span class="author">- Mark, Multi-Ad-</span>
            </p>

        </div>
        <div class="one-third column">
            <h5>Wise investment</h5>
            <p class="testimonial">
                <img src="images/usr.jpg" class="leftpic" alt=""> Rental Vision, Delmas
26, Blvd. Toussaint Louverture, Route de l'Aéroport
(509) 37 01 75 40
(509) 42 52 28 88
 andre@rentalvision.net
Catégorisé: Billboards • Enseignes • Événementiels • Événements Spéciaux • <span class="author">- Jean, Paris, manager at CK-</span>
            </p>
        </div>
        <div class="one-third column">
            <h5>Best support ever</h5>
            <p class="testimonial">
                <img src="images/usr.jpg" class="leftpic" alt="">DigiLab, Pétion-Ville
7, Route de Pélerin
(509) 29 44 40 00
(509) 34 45 32 88
 info@digilabhaiti.com
Catégorisé: Billboards • Display Solutions • Enseignes • Imprimeries • Imprimeries Digitales • Publicité <span class="author">- Donna, Manhattan, social worker-</span>
            </p>
        </div>

    </div>
    <!-- Download Section
    ================================================== -->
    <div class="scrollpause">
    </div>
    <div class="container" id="download">
        <div class="sixteen columns">
            <div class="titleborder">
                <span class="title colorme"> calendrier des règles </span>
            </div>
        </div>
    </div>

{# here the function to calculate menstruation #}
    <div class="container">
        <div class="sixteen columns">
            <h3 class="center"> Resultat et instructions </h3>
            <p>
                 Calculez la date de vos prochaines règles. Simple et facile à utiliser, le calendrier des règles vous indique les dates auxquelles vous devriez avoir vos règles cette année.
                Pour obtenir les résultats de votre calendrier des règles, tout ce que vous devez faire est répondre précisément aux trois questions suivantes :
            </p>
        </div>
        <section>
            <div class="twelve columns offset-by-two">
                <div class="spotlight">
                    <img src="images/price.png" class="pricebadge" alt="">
                    <div class="download">
                         calendrier des règles
                    </div>

                    <div class="steps">
{#                        <img src="images/1.png" alt="" class="middlealign"><span class="rightpad">Click the button</span>#}
{#                        <img src="images/2.png" alt="" class="middlealign"><span class="rightpad">Pay safely with PayPal</span>#}
{#                        <img src="images/3.png" alt="" class="middlealign"><span class="mobilerightpad">Get Instant Download</span>#}
                        <form method="post" action="/menstruation/">
                            {% csrf_token %}
                            {{ form1.as_p }}
                            <input type = "submit" name="CalculatorForm" value="Send" class="actionbutton">
                         </form>

                    </div>
                    <div class="beforepurchase"> </div>
                    <p> resultat du calcul</p>
                    <p class="center">
                        <a href="#" class="actionbutton">
                        Purchase Now </a>
                    </p>
                   </div>


            </div>
            </section>
        </div>
        <!-- Contact Section
    ================================================== -->
        <div class="scrollpause">   </div>
        <div class="container" id="contact">
            <div class="sixteen columns">
                <div class="titleborder">
                    <span class="title colorme">Contact Us</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="one-third column">
                <p>
                    <strong>Address</strong><br>
                     123 Huawsal, Inc., Suite # <br>
                     City, State 90210, Country <br>
                    <br>
                    <strong>Phone</strong><br>
                     Phone: (509)3716457<br>

                </p>
                <a href="https://www.facebook.com/judithe.isnor?fref=ts">
                <div class="facebook">
                </div>
                </a>
                <a href="https://twitter.com/?lang=fr">
                <div class="twitter">
                </div>
                </a>
            </div>
            <section>
            <div class="two-thirds column">
                <div class="block">
                    <form method="post" action="/menstruation/"   >
                        {% csrf_token %}
                        {{ form.as_p }}
                       <input type = "submit" name="ContactForm" value="Send" class="contactbutton">
                    </form>
            </div>`
        </div>
        </section>
        </div>

        <div class="footerwrap">
            <div class="footer">
                <p class="back-top floatright">
                    <a href="#top"><span></span></a>
                </p>
                <div class="container negdown">
                    <div class="sixteen columns negdown">
                        <div class="four columns alpha">
                            <div class="footertext">
                                <h1>Newsletter</h1>
                                 Stay notified! Enter your e-mail address to subscribe to our latest news.
                                <div class="newsletter">
                                    <div class="newsletterdone">
                                        <button type="button" class="close" data-dismiss="alert">x</button>
                                        <div class="newsletteralert">
                                            <b>You have been subscribed!</b>
                                        </div>
                                        <br/>
                                    </div>
                                    <form action="newsletter.php" method="post" id="newsletter" class="form-wrapper cf">
                                        <input type="text" name="newsemail" id="newsemail" placeholder="Enter your e-mail address" autocomplete="off">
                                        <button type="submit" id="submit2" name="submit2" class="remove-bottom">Go</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <div class="four columns">
                            <div class="footertext floatright">
                                <h1>Client's area</h1>
                                 <a href="http://themeforest.net/item/lemar/full_screen_preview/3076985">Buy this theme</a><br/><a href="#">Live support</a><br/><a href="#">Client's area</a><br/><a href="#">Terms of use</a>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="footertext floatright">
                                <h1>Connect</h1>
                                 <a href="#">Github projects</a><br/><a href="#">Cyco  forum</a><br/><a href="#"> blog</a><br/><a href="#">Privacy policy</a>
                            </div>
                        </div>
                        <div class="four columns omega">
                            <div class="footertext floatright">
                                <h1>Get involved</h1>
                                 <a href="#">Report a bug</a><br/><a href="#">Send feedback</a><br/><a href="#">Test beta version</a><br/><a href="#">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="gototopmobile">
                <a href="#top">Go to Top</a>
            </div>
             Copyright &copy; 2015 Cyco-menstruation
        </div>

        <!-- Scripts
    ================================================== -->
        <script src="{% static "js/jquery.min.js" %}" ></script>
        <script src="{% static "js/responsiveslides.min.js" %}" ></script>
        <script src="{% static "js/smoothscroll.js" %}" ></script>

        <script src="{% static "peel/peel.js" %}" ></script>
        <script src="{% static "js/alert.js" %}" ></script>
        <script src="{% static "js/responsivemenu.js" %}" ></script>
        <script src="{% static "js/formsvalidation.js" %}" ></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/responsiveslides.min.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="peel/peel.js"></script>
        <script src="js/alert.js"></script>
        <script src="js/responsivemenu.js"></script>
        <script src="js/formsvalidation.js"></script>
        <!-- End Document
    ================================================== -->
</body>
</html>